.breadcrumbs {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  &__item {
    text-decoration: none;
    color: #969595;
    &:after {
      content: '—';
      display: inline-block;
      padding: 0 4px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
