$size: 16px;
$duration: 0.75s;
$border-radius: $size;
$style-color: #fff;

.loader {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .3);
  z-index: 10;
  &.show {
    display: flex;
  }

  &__item {
    display: inline-block;
    margin: 2px;
    width: $size / 2;
    height: $size / 2;

    border: 1px solid $style-color;
    border-radius: $size;
    background-color: $style-color;

    animation-name: wave;
    transform-origin: 50%;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &:nth-child(2) {
      animation-delay: $duration * 0.25;
    }

    &:nth-child(3) {
      animation-delay: $duration * 0.5;
    }
  }
}

@keyframes wave {
  0% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(-$size / 4);
  }
  50%{
    transform: translateY(0%);
  }
  70%{
    transform: translateY($size / 4);
  }
}
