.pages-info {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  letter-spacing: .4px;
  color: #969595;
  @include phone {
    text-align: left;
  }
  @include phone-small {
    text-align: center;
  }
}
