.pagination {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
  @include phone-small {
    width: 100%;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    min-width: 32px;
    height: 32px;
    color: #201d1d;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    @include phone-small {
      min-width: auto;
      width: 100%;
    }

    &:first-child,
    &:last-child {
      background: transparent url('../i/icons/arrow-black.svg') no-repeat center;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
      transform: rotate(180deg);
    }

    &.active {
      border: 1px solid #FF3214;
      cursor: default;
    }

    &.separate {
      cursor: default;
    }
  }
}
