.table {
  margin-bottom: 22px;
  width: 100%;
  text-align: left;
  background-color: #fff;

  tr {
    border: 1px solid #F3F3F3;
    border-bottom: none;
    &:last-child {
      border-bottom: 1px solid #F3F3F3;
    }
  }

  th {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #969595;
  }

  th,
  td {
    padding: 11px 24px 11px 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    &:first-child {
      padding-right: 0;
      width: 1%;
      @include phone-small {
        padding-left: 15px;
      }
    }
    &:last-child {
      @include phone-small {
        padding-left: 18px;
      }
    }
  }

  td {
    @include phone {
      text-align: left;
      vertical-align: top;
    }
  }

  &__container {
    @include phone {
      padding: 0;
    }
    @include phone-small {
      padding: 0;
    }
  }

  &__wrapper {
    position: relative;
  }
}
