doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")

    meta(name="description" content="Таблица с пагинацией")
    title Title

    link(rel="stylesheet" href="./css/style.css")
  body
    .wrapper
      .container
        .breadcrumbs
          a.breadcrumbs__item(href="#") Главная
          a.breadcrumbs__item(href="#") Закупки и тендеры
          span.breadcrumbs__item Компании

      .container
        h1 Компании
      .container.table__container
        .table__wrapper
          .loader
            span.loader__item
            span.loader__item
            span.loader__item
          table.table
            tbody
              tr
                th ID
                th Адрес

      .container
        .footer-info
          ul.pagination
          .pages-info Страница <span class="pages-info__current">0</span> из <span class="pages-info__all">1758</span> по <span class="pages-info__rows">0</span> строк (всего строк: <span class="pages-info__total-lines">35153</span>)

    script(src="./js/jquery-3.6.0.min.js")
    script(src="./js/main.js")
