html, body {
    height: 100%;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 16px;
    font-weight: 400;
    color: #201D1D;
    background-color: #f9f9f9;
    overflow-wrap: normal;
    overflow: auto;
    @include phone {
        font-size: 15px;
    }
}

a {
    text-decoration-skip-ink: none;
}

p {
    margin: 0 0 15px;
    font-size: 24px;
    line-height: 30px;
    color: #fff;

    &:only-child {
        margin: 0;
    }
    &:last-child {
        margin: 0;
    }
}

.wrapper {
    position: relative;
    margin: 0 auto;
    padding-top: 80px;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    overflow: hidden;
    @include phone {
        padding-top: 44px;
    }
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
    max-width: 1916px;
    height: auto;
    @include desktop {
        padding: 0 80px;
    }
    @include table {
        padding: 0 40px;
    }
    @include phone {
        padding: 0 25px;
    }
    @include phone-small {
        padding: 0 16px;
    }
}

h1 {
    margin: 0 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    @include phone-small {
        font-size: 21px;
        line-height: 28px;
    }
}
