/* Roboto */
@font-face {
    font-family: "Roboto Black";
    src: url("../fonts/Roboto/Roboto-Black.ttf");
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Roboto Thin";
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
    font-weight: 100;
    font-display: swap;
}
