$maxWidth: 1440px;

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

 @function calcFluidFontSize($font-min, $font-max, $width-min, $width-max, $units: px) {
    $f-min: strip-unit($font-min);
    $f-max: strip-unit($font-max);
    $w-min: strip-unit($width-min);
    $w-max: strip-unit($maxWidth);

    $k: ($f-max - $f-min)/($w-max - $w-min);
    $b: $f-min - $k * $w-min;

    $b: $b + $units;

    @return calc( #{$k} * 100vw + #{$b} );
}
