@import "functions";

@mixin desktop { @media (max-width: 1440px) {@content;} }
@mixin desktop-small { @media (max-width: 1300px) {@content;} }
@mixin table { @media (max-width: 1200px) {@content;} }
@mixin table-small { @media (max-width: 1023px) {@content;} }
@mixin phone { @media (max-width: 767px) {@content;} }
@mixin phone-small { @media (max-width: 375px) {@content;} }
@mixin phone-min { @media (max-width: 340px) {@content;} }

@mixin fluidFontSize($font-min, $font-max, $width-min: 360px, $width-max: 500px, $fallback: false) {
    font-size: $font-min;
    @media (min-width: $width-min) {
        @if ($fallback) {
            font-size: $fallback;
        }
        font-size: calcFluidFontSize($font-min, $font-max, $width-min, $width-max, px);
    }
    @media (min-width: $width-max) {
        font-size: $font-max;
    }
}
